* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100px;
  width: 100%;
  background-color: #263238;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.home,
.social {
  background-color: #00e5ff;
  padding: 10px;
  border-radius: 5px;
}

.social>li {
  display: inline;
  margin-right: 5px;
}

.hello,
.i,
.sanjay {
  background-color: #e55350;
  padding: 10px;
  border-radius: 5px;
}

.i {
  position: relative;
  right: 15px;
}

.about {
  background-color: #00897b;
  padding: 10px;
  border-radius: 5px;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.html {
  background-color: #ff9800;
  padding: 10px;
  border-radius: 5px;
}

.css{
  background-color: #2196f3;
  padding: 10px;
  border-radius: 5px;
}

.js {
  background-color: #ffeb3b;
  padding: 10px;
  border-radius: 5px;
}

.contact {
  background-color: #9575cd;
  padding: 10px;
  border-radius: 5px;
}
