* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
height: 100%;
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.home,
.social {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
}

.social>li {
  display: inline;
  margin-right: 5px;
}

.header {
  justify-content: center;
}

.hello,
.i {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
}

.about {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.html,
.css,
.js {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
}


.connect {
  justify-content: center;
}

.contact {
  padding: 10px;
  color: #fff;
  border: 2px solid #fff;
}
